<!DOCTYPE html>
  <html>
    <head>
      <title>日記の書き方</title>
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    </head>
    <body>
      <div class="home_container">
        <div class="content_top">
          <h1>日記の書き方</h1>
        </div>
        <div class="text_align_left">
          <h2>感情や考え方は日々変わっていくもの</h2></br>
          <p>自身の目標に対して日々の生活の中で何かできたことや感じたことを書いてみましょう</p>
          <p>長い間続けると、自分の感情や考え方が少しずつ変化することに気づくはずです</p>
          <p>その変化を含め、「自分という人間」を知ることが日記を書く目的です</p>

          <h3>手順</h3>
          <ul>・1週間の目標に対して行動したことや感じたことを書き出す</ul>
          <ul>・週に1回、振り返る</ul>

          <h3>注意</h3>
          <ul>・NG : 「きっと〇〇のはず」といった想像や予測</ul>
          <ul>・OK : どんなに些細でも実際に起きた成功体験</ul>

          <h3>書き方</h3>
          <ul>・立てた目標に対して「できたこと」を毎日1~3つ書き出す</ul>

          <h3>内容</h3>
          <ul>・初めてできたことや、普段の行動でも “よりよくできたこと” を書く</ul>
          <ul>・「挨拶をいつもより元気にできた」など、どんなに些細な内容でもOK</ul>

          <h3>書き方の例</h3>
          <ul>・人からの反応の場合⇨「誰かに感謝された」</ul>
          <ul>・数字で表せる行動の場合⇨「30分早く起きられた」</ul>
          <ul>・気分をともなう体験の場合⇨「今日はゆったりと休日を過ごせて嬉しかった」</ul>
        </div>
      </div>
    </body>
  <%= yield %>
</html>

