<!DOCTYPE html>
<html>
<head>
<title>日記の書き方</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="home_container">

    <div class="content_top">
      日記の書き方
    </div>

    <div class="content_explanation">
      <p>感情や考え方は日々変わっていくものです。
自身の目標に対して日々の生活の中で何かできたことや感じたことを書いてみましょう
長い間続けていくと、自分の感情や考え方が日々少しずつ変化していることに気づくこともあるかもしれません。
その変化を含め、自分という人間を知ることができます</p>
    </div>
    <div class="content_titles">
    手順
    </div>

    <div class="content_explanation">

・6日間（たとえば月～土曜日）自信の目標に対して行動したことやそれに対して感じたことを書き出す
・週に1回（たとえば日曜日に）振り返る

注意
・NG：「きっと〇〇のはず」といった想像や予測
・OK：どんなに些細でも実際に起きた成功体験

書き方
・立てた目標に対して「できたこと」を毎日3つ書き出す（3つ書けない日があってもいい）

内容
・初めてできたことや、普段の行動でも “よりよくできたこと” を書く
・挨拶を、いつもより元気に挨拶できたらそれが「できたこと」になります
．どんなに些細な内容でもOK

書き方の例
人からの反応　　　・・・「誰かに感謝された」
数字で表せる行動　・・・「30分早く起きられた」
気分をともなう体験・・・「今日はゆったりと休日を過ごせて嬉しかった」
    </div>
    </div>
</div>
</body>

<%= yield %>
</html>

