<!DOCTYPE html>
<html>
<head>
<title>Q&A</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="home_container">

    <div class="home_image">
       <%= image_tag "help_egogram.png",width: "80%"%>
    </div>
    <div class="content_explanation">
    Q．理想的なエゴグラムの形は？
A.　どの要素にもメリット・デメリットがある。
どれが高ければ良いというのは基本的にはないが、Aを頂点になだらかな山の形をしているのが一応理想的と言われている
図で表すとこんな感じである
Q．パスワード・メールアドレスを変更したいです
A,　パスワード変更はこちらから手続きができます
Q．退会したいです
A.　こちらから退会の手続きができます


    </div>


</div>
</body>

<%= yield %>
</html>

