<!DOCTYPE html>
<html>
<head>
<title>日記</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>

  <div class="home_container">

<%=form_with model: @diary,url: diaries_path,local: true do |f|%>
<%=f.text_field :diary_content_0%>
<%=f.submit "投稿する",class: :form_btn%>

<%end%>
