<!DOCTYPE html>
<html>
<head>
<title>退会手続き完了しました</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="home_container">
退会手続き完了しました
退会手続き完了のメールをお送りしましたので、内容をご確認ください
ご利用ありがとうございました
またの機会のご利用を、心よりお待ちしております
</div>
</body>

<%= yield %>
</html>

