<!DOCTYPE html>
<html>
<head>
<title>診断結果一覧</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
<%=render partial: "egograms/egogramindex"%>


    <div class="result_container">

    <div class="result_top">

        </div>
    </div>

    </div>
</body>


</html>

