<!DOCTYPE html>
<html>
<head>
<title>エゴグラム診断結果の一覧</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
<h1>エゴグラム診断結果の一覧</h1>

<p>ここに<%="アクション側のeach.@histry do |history|"%>で一覧表示</p>
            <%@result.each do |i| %>
            <p>あなたのタイプは<%= i.egogram_type %>です</p>

<%end%>

</body>

<%= yield %>
</html>


