<!DOCTYPE html>
<html>
<head>
<title>診断結果一覧</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>


<%@score.each do |i|%>
<%r=i.test_result_id%>
<%=TestResult.find(r).egogram_type%></br>
<%=TestResult.find(r).character%></br>
<!--未実装：各グラフの表示とクリックしたらresultページに飛ぶようにする-->
<%end%>


    <div class="result_container">

    <div class="result_top">
        <h1>
        エゴグラム結果
        </h1>
        </div>
    </div>

    </div>
</body>

<%= yield %>
</html>

