<!DOCTYPE html>
  <html>
    <head>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=devise-width, initial-scale=1.0" />


      <title>診断結果</title>
          <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    </head>
<%=render partial: "egograms/egogramresult"%>

    <%= yield %>

  </html>

