<!DOCTYPE html>
  <html>
    <head>
      <title>診断結果</title>
          <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    </head>
<%=render partial: "egograms/egogramresult"%>

    <%= yield %>

  </html>

