<!DOCTYPE html>
<html>
<head>
<title>エゴグラム性格診断テスト</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="home_container">

エゴグラム性格診断をします。
以下の50個の質問に難しく考えず直感で答えて下さい
</div>
質問
はい
いいえ
どちらでもない
    <div class="egogram_question">
  <% @test.each do |test| %>
<%= label_tag :test1, test.title %>
<%= check_box_tag :test1,1,{:checked => "checked"}  %>



    <% end %>
</div>









</body>

<%= yield %>
</html>

