
   <div class="egogram_question">
  <% @test_np.each do |test| %>
<%= label_tag :test1, test.title %>
<%= check_box_tag :test1,1,{:checked => "checked"}  %>
    <% end %>
</div>


<form action="result_single.php" method="post" name="form1" id="form1">



<p><img src="../common/sharedimg/ttl/ttl_egogram.png" class="fi" alt="エゴグラム性格診断タイトル"></p>
<br class="brclear">

<p class="align_center">エゴグラムを診断します。<br>
以下の50個の質問に難しく考えず直感で答えて下さい</p>
<br class="brclear">


<div class="grid_01_content">
<ul class="tbl_41_0"><li class="tb_01"><p>&nbsp;</p></li><li class="tb_02">はい</li><li class="tb_03">いいえ</li><li class="tb_04">どちらでもない</li></ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qcp_01 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>相手の間違いを指摘できる方だ</li>
    <label for="qcp_01_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qcp_01_2" name="qcp_01" value="2"></li></label>
    <label for="qcp_01_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qcp_01_0" name="qcp_01" value="0"></li></label>
    <label for="qcp_01_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qcp_01_1" name="qcp_01" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qnp_01 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>思いやりがある方だ</li>
    <label for="qnp_01_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qnp_01_2" name="qnp_01" value="2"></li></label>
    <label for="qnp_01_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qnp_01_0" name="qnp_01" value="0"></li></label>
    <label for="qnp_01_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qnp_01_1" name="qnp_01" value="1"></li></label>
</ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qa_01 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>何についても、何が中心問題か考える</li>
    <label for="qa_01_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qa_01_2" name="qa_01" value="2"></li></label>
    <label for="qa_01_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qa_01_0" name="qa_01" value="0"></li></label>
    <label for="qa_01_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qa_01_1" name="qa_01" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qfc_01 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>してみたいことが沢山ある</li>
    <label for="qfc_01_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qfc_01_2" name="qfc_01" value="2"></li></label>
    <label for="qfc_01_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qfc_01_0" name="qfc_01" value="0"></li></label>
    <label for="qfc_01_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qfc_01_1" name="qfc_01" value="1"></li></label>
</ul>


<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qac_01 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>人の気持ちが気になり合わせてしまう</li>
    <label for="qac_01_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qac_01_2" name="qac_01" value="2"></li></label>
    <label for="qac_01_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qac_01_0" name="qac_01" value="0"></li></label>
    <label for="qac_01_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qac_01_1" name="qac_01" value="1"></li></label>
</ul>


<ul class="tbl_41"><!-- qcp_02 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>時間を守らないのは嫌だ</li>
    <label for="qcp_02_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qcp_02_2" name="qcp_02" value="2"></li></label>
    <label for="qcp_02_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qcp_02_0" name="qcp_02" value="0"></li></label>
    <label for="qcp_02_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qcp_02_1" name="qcp_02" value="1"></li></label>
</ul>


<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qnp_02 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>自分は褒め上手だと思う</li>
    <label for="qnp_02_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qnp_02_2" name="qnp_02" value="2"></li></label>
    <label for="qnp_02_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qnp_02_0" name="qnp_02" value="0"></li></label>
    <label for="qnp_02_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qnp_02_1" name="qnp_02" value="1"></li></label>
</ul>


<ul class="tbl_41"><!-- qa_02 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>物事を分析して、事実に基づいて考える</li>
    <label for="qa_02_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qa_02_2" name="qa_02" value="2"></li></label>
    <label for="qa_02_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qa_02_0" name="qa_02" value="0"></li></label>
    <label for="qa_02_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qa_02_1" name="qa_02" value="1"></li></label>
</ul>


<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qfc_02 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>気分転換が上手いです</li>
    <label for="qfc_02_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qfc_02_2" name="qfc_02" value="2"></li></label>
    <label for="qfc_02_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qfc_02_0" name="qfc_02" value="0"></li></label>
    <label for="qfc_02_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qfc_02_1" name="qfc_02" value="1"></li></label>
</ul>


<ul class="tbl_41"><!-- qac_02 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>人前に出るより後ろに引っ込んでしまう</li>
    <label for="qac_02_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qac_02_2" name="qac_02" value="2"></li></label>
    <label for="qac_02_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qac_02_0" name="qac_02" value="0"></li></label>
    <label for="qac_02_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qac_02_1" name="qac_02" value="1"></li></label>
</ul>

</div><!-- end grid_01_content-->


<div class="grid_01_content">
<ul class="tbl_41_0"><li class="tb_01"><p>&nbsp;</p></li><li class="tb_02">はい</li><li class="tb_03">いいえ</li><li class="tb_04">どちらでもない</li></ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qcp_03 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>規則やルールを守るべきだ</li>
    <label for="qcp_03_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qcp_03_2" name="qcp_03" value="2"></li></label>
    <label for="qcp_03_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qcp_03_0" name="qcp_03" value="0"></li></label>
    <label for="qcp_03_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qcp_03_1" name="qcp_03" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qnp_03 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>人の話をよく聞いてあげます</li>
    <label for="qnp_03_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qnp_03_2" name="qnp_03" value="2"></li></label>
    <label for="qnp_03_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qnp_03_0" name="qnp_03" value="0"></li></label>
    <label for="qnp_03_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qnp_03_1" name="qnp_03" value="1"></li></label>
</ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qa_03 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>「なぜ」そうなのか理由を検討する</li>
    <label for="qa_03_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qa_03_2" name="qa_03" value="2"></li></label>
    <label for="qa_03_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qa_03_0" name="qa_03" value="0"></li></label>
    <label for="qa_03_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qa_03_1" name="qa_03" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qfc_03 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>よく笑う方だと思う</li>
    <label for="qfc_03_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qfc_03_2" name="qfc_03" value="2"></li></label>
    <label for="qfc_03_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qfc_03_0" name="qfc_03" value="0"></li></label>
    <label for="qfc_03_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qfc_03_1" name="qfc_03" value="1"></li></label>
</ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qac_03 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>よく後悔する</li>
    <label for="qac_03_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qac_03_2" name="qac_03" value="2"></li></label>
    <label for="qac_03_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qac_03_0" name="qac_03" value="0"></li></label>
    <label for="qac_03_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qac_03_1" name="qac_03" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qcp_04 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>よく他人や自分を責める</li>
    <label for="qcp_04_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qcp_04_2" name="qcp_04" value="2"></li></label>
    <label for="qcp_04_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qcp_04_0" name="qcp_04" value="0"></li></label>
    <label for="qcp_04_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qcp_04_1" name="qcp_04" value="1"></li></label>
</ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qnp_04 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>人の気持ちを考えます</li>
    <label for="qnp_04_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qnp_04_2" name="qnp_04" value="2"></li></label>
    <label for="qnp_04_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qnp_04_0" name="qnp_04" value="0"></li></label>
    <label for="qnp_04_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qnp_04_1" name="qnp_04" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qa_04 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>感情的というより理論的だ</li>
    <label for="qa_04_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qa_04_2" name="qa_04" value="2"></li></label>
    <label for="qa_04_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qa_04_0" name="qa_04" value="0"></li></label>
    <label for="qa_04_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qa_04_1" name="qa_04" value="1"></li></label>
</ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qfc_04 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>好奇心が強いほうだ</li>
    <label for="qfc_04_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qfc_04_2" name="qfc_04" value="2"></li></label>
    <label for="qfc_04_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qfc_04_0" name="qfc_04" value="0"></li></label>
    <label for="qfc_04_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qfc_04_1" name="qfc_04" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qac_04 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>相手の顔色をうかがう</li>
    <label for="qac_04_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qac_04_2" name="qac_04" value="2"></li></label>
    <label for="qac_04_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qac_04_0" name="qac_04" value="0"></li></label>
    <label for="qac_04_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qac_04_1" name="qac_04" value="1"></li></label>
</ul>

</div><!-- end grid_01_content-->

<div class="grid_01_content">
<ul class="tbl_41_0"><li class="tb_01"><p>&nbsp;</p></li><li class="tb_02">はい</li><li class="tb_03">いいえ</li><li class="tb_04">どちらでもない</li></ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qcp_05 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>「～すべき」「～ねばならない」という言葉をよく使う</li>
    <label for="qcp_05_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qcp_05_2" name="qcp_05" value="2"></li></label>
    <label for="qcp_05_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qcp_05_0" name="qcp_05" value="0"></li></label>
    <label for="qcp_05_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qcp_05_1" name="qcp_05" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qnp_05 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>贈り物などするのが好きだ</li>
    <label for="qnp_05_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qnp_05_2" name="qnp_05" value="2"></li></label>
    <label for="qnp_05_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qnp_05_0" name="qnp_05" value="0"></li></label>
    <label for="qnp_05_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qnp_05_1" name="qnp_05" value="1"></li></label>
</ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qa_05 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>社会問題に関心がある方だ</li>
    <label for="qa_05_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qa_05_2" name="qa_05" value="2"></li></label>
    <label for="qa_05_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qa_05_0" name="qa_05" value="0"></li></label>
    <label for="qa_05_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qa_05_1" name="qa_05" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qfc_05 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>ポジティブな方だ</li>
    <label for="qfc_05_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qfc_05_2" name="qfc_05" value="2"></li></label>
    <label for="qfc_05_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qfc_05_0" name="qfc_05" value="0"></li></label>
    <label for="qfc_05_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qfc_05_1" name="qfc_05" value="1"></li></label>
</ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qac_05 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>不愉快なことがあっても口に出さない</li>
    <label for="qac_05_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qac_05_2" name="qac_05" value="2"></li></label>
    <label for="qac_05_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qac_05_0" name="qac_05" value="0"></li></label>
    <label for="qac_05_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qac_05_1" name="qac_05" value="1"></li></label>
</ul>


<ul class="tbl_41"><!-- qcp_06 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>決めたことは絶対に守りたい</li>
    <label for="qcp_06_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qcp_06_2" name="qcp_06" value="2"></li></label>
    <label for="qcp_06_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qcp_06_0" name="qcp_06" value="0"></li></label>
    <label for="qcp_06_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qcp_06_1" name="qcp_06" value="1"></li></label>
</ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qnp_06 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>人の失敗を寛大に許す</li>
    <label for="qnp_06_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qnp_06_2" name="qnp_06" value="2"></li></label>
    <label for="qnp_06_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qnp_06_0" name="qnp_06" value="0"></li></label>
    <label for="qnp_06_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qnp_06_1" name="qnp_06" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qa_06 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>結末を予測して、準備をします</li>
    <label for="qa_06_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qa_06_2" name="qa_06" value="2"></li></label>
    <label for="qa_06_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qa_06_0" name="qa_06" value="0"></li></label>
    <label for="qa_06_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qa_06_1" name="qa_06" value="1"></li></label>
</ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qfc_06 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>茶目っ気があります</li>
    <label for="qfc_06_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qfc_06_2" name="qfc_06" value="2"></li></label>
    <label for="qfc_06_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qfc_06_0" name="qfc_06" value="0"></li></label>
    <label for="qfc_06_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qfc_06_1" name="qfc_06" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qac_06 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>人によく思われようと振るまう</li>
    <label for="qac_06_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qac_06_2" name="qac_06" value="2"></li></label>
    <label for="qac_06_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qac_06_0" name="qac_06" value="0"></li></label>
    <label for="qac_06_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qac_06_1" name="qac_06" value="1"></li></label>
</ul>

</div><!-- end grid_01_content-->


<div class="grid_01_content">
<ul class="tbl_41_0"><li class="tb_01"><p>&nbsp;</p></li><li class="tb_02">はい</li><li class="tb_03">いいえ</li><li class="tb_04">どちらでもない</li></ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qcp_07 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>借りたものを期限までに返さないと気になる</li>
    <label for="qcp_07_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qcp_07_2" name="qcp_07" value="2"></li></label>
    <label for="qcp_07_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qcp_07_0" name="qcp_07" value="0"></li></label>
    <label for="qcp_07_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qcp_07_1" name="qcp_07" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qnp_07 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>人や動物の世話が好き</li>
    <label for="qnp_07_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qnp_07_2" name="qnp_07" value="2"></li></label>
    <label for="qnp_07_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qnp_07_0" name="qnp_07" value="0"></li></label>
    <label for="qnp_07_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qnp_07_1" name="qnp_07" value="1"></li></label>
</ul>


<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qa_07 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>物事を冷静に判断します</li>
    <label for="qa_07_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qa_07_2" name="qa_07" value="2"></li></label>
    <label for="qa_07_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qa_07_0" name="qa_07" value="0"></li></label>
    <label for="qa_07_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qa_07_1" name="qa_07" value="1"></li></label>
</ul>


<ul class="tbl_41"><!-- qfc_07 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>新しいことが好き</li>
    <label for="qfc_07_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qfc_07_2" name="qfc_07" value="2"></li></label>
    <label for="qfc_07_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qfc_07_0" name="qfc_07" value="0"></li></label>
    <label for="qfc_07_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qfc_07_1" name="qfc_07" value="1"></li></label>
</ul>


<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qac_07 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>協調性がある方だ</li>
    <label for="qac_07_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qac_07_2" name="qac_07" value="2"></li></label>
    <label for="qac_07_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qac_07_0" name="qac_07" value="0"></li></label>
    <label for="qac_07_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qac_07_1" name="qac_07" value="1"></li></label>
</ul>

<!-- -->

<ul class="tbl_41"><!-- qcp_08 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>約束を破ることはない</li>
    <label for="qcp_08_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qcp_08_2" name="qcp_08" value="2"></li></label>
    <label for="qcp_08_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qcp_08_0" name="qcp_08" value="0"></li></label>
    <label for="qcp_08_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qcp_08_1" name="qcp_08" value="1"></li></label>
</ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qnp_08 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>自分から温かく挨拶したい</li>
    <label for="qnp_08_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qnp_08_2" name="qnp_08" value="2"></li></label>
    <label for="qnp_08_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qnp_08_0" name="qnp_08" value="0"></li></label>
    <label for="qnp_08_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qnp_08_1" name="qnp_08" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qa_08 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>分からないときは、分かるまで追求します</li>
    <label for="qa_08_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qa_08_2" name="qa_08" value="2"></li></label>
    <label for="qa_08_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qa_08_0" name="qa_08" value="0"></li></label>
    <label for="qa_08_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qa_08_1" name="qa_08" value="1"></li></label>
</ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qfc_08 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>将来の夢、楽しいことを空想します</li>
    <label for="qfc_08_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qfc_08_2" name="qfc_08" value="2"></li></label>
    <label for="qfc_08_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qfc_08_0" name="qfc_08" value="0"></li></label>
    <label for="qfc_08_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qfc_08_1" name="qfc_08" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qac_08 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>遠慮がちだ</li>
    <label for="qac_08_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qac_08_2" name="qac_08" value="2"></li></label>
    <label for="qac_08_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qac_08_0" name="qac_08" value="0"></li></label>
    <label for="qac_08_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qac_08_1" name="qac_08" value="1"></li></label>
</ul>

</div><!-- end grid_01_content-->


<div class="grid_01_content">
<ul class="tbl_41_0"><li class="tb_01"><p>&nbsp;</p></li><li class="tb_02">はい</li><li class="tb_03">いいえ</li><li class="tb_04">どちらでもない</li></ul>


<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qcp_09 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>不正なことには妥協しない</li>
    <label for="qcp_09_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qcp_09_2" name="qcp_09" value="2"></li></label>
    <label for="qcp_09_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qcp_09_0" name="qcp_09" value="0"></li></label>
    <label for="qcp_09_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qcp_09_1" name="qcp_09" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qnp_09 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>困っている人を見ると何とかしてあげたい</li>
    <label for="qnp_09_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qnp_09_2" name="qnp_09" value="2"></li></label>
    <label for="qnp_09_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qnp_09_0" name="qnp_09" value="0"></li></label>
    <label for="qnp_09_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qnp_09_1" name="qnp_09" value="1"></li></label>
</ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qa_09 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>仕事や生活の予定を記録します</li>
    <label for="qa_09_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qa_09_2" name="qa_09" value="2"></li></label>
    <label for="qa_09_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qa_09_0" name="qa_09" value="0"></li></label>
    <label for="qa_09_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qa_09_1" name="qa_09" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qfc_09 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>趣味が多い</li>
    <label for="qfc_09_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qfc_09_2" name="qfc_09" value="2"></li></label>
    <label for="qfc_09_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qfc_09_0" name="qfc_09" value="0"></li></label>
    <label for="qfc_09_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qfc_09_1" name="qfc_09" value="1"></li></label>
</ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qac_09 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>よく周囲の意見に振り回される</li>
    <label for="qac_09_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qac_09_2" name="qac_09" value="2"></li></label>
    <label for="qac_09_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qac_09_0" name="qac_09" value="0"></li></label>
    <label for="qac_09_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qac_09_1" name="qac_09" value="1"></li></label>
</ul>

<!-- -->

<ul class="tbl_41"><!-- qcp_10 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>無責任な人を許せない</li>
    <label for="qcp_10_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qcp_10_2" name="qcp_10" value="2"></li></label>
    <label for="qcp_10_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qcp_10_0" name="qcp_10" value="0"></li></label>
    <label for="qcp_10_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qcp_10_1" name="qcp_10" value="1"></li></label>
</ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qnp_10 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>子どもや目下の人を可愛いがる</li>
    <label for="qnp_10_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qnp_10_2" name="qnp_10" value="2"></li></label>
    <label for="qnp_10_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qnp_10_0" name="qnp_10" value="0"></li></label>
    <label for="qnp_10_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qnp_10_1" name="qnp_10" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qa_10 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>ほかの人ならどうするか、客観視します</li>
    <label for="qa_10_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qa_10_2" name="qa_10" value="2"></li></label>
    <label for="qa_10_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qa_10_0" name="qa_10" value="0"></li></label>
    <label for="qa_10_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qa_10_1" name="qa_10" value="1"></li></label>
</ul>

<ul class="tbl_41" style="background-color: rgb(233, 247, 228);"><!-- qfc_10 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>「すごい」「わぁ」「へぇ」などの感嘆詞をよく使う
</li>
    <label for="qfc_10_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qfc_10_2" name="qfc_10" value="2"></li></label>
    <label for="qfc_10_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qfc_10_0" name="qfc_10" value="0"></li></label>
    <label for="qfc_10_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qfc_10_1" name="qfc_10" value="1"></li></label>
</ul>

<ul class="tbl_41"><!-- qac_10 -->
	<li class="tb_01"><span class="pc_hide sp_show">⇒ </span>自分が悪くなくてもすぐ謝ってしまう</li>
    <label for="qac_10_2"><li class="tb_02"><p class="align_center pc_hide sp_show">はい<br>　</p><input type="radio" id="qac_10_2" name="qac_10" value="2"></li></label>
    <label for="qac_10_0"><li class="tb_03"><p class="align_center pc_hide sp_show">いいえ<br>　</p><input type="radio" id="qac_10_0" name="qac_10" value="0"></li></label>
    <label for="qac_10_1"><li class="tb_04"><p class="align_center pc_hide sp_show">どちらでもない<br>　</p><input type="radio" id="qac_10_1" name="qac_10" value="1"></li></label>
</ul>



</div><!-- end grid_01_content-->



<p class="align_center">お疲れさまでした！　それでは結果を見てみましょう！</p>
<p class="error_msg align_center">チェックされていない項目があります。</p>


<input type="hidden" name="cr" value="1">
<input type="image" src="../common/sharedimg/btn/btn_kekka.png">

</form>