

Q1.自分のどんなところを変えたい？
    <div class="egogram_question">
  <% @goal.each do |test| %>
<%=  test.goal_content_0 %>

<%end%>
</div>
Q2.なぜ変えたいと思ったか？きっかけは？
Q3.変えるためにやるべきことは？
Q4.無理なくできそうなことは？
Q5.目標(ゴール)はどこにする？
登録

例人見知りの場合