@import "bootstrap-sprockets";
// @import "font-awesome";
@import "bootstrap";

@import "simple_calendar";

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
// *{
//   outline: 1px red solid;
// }

  // font-size: 1.6rem;
  // font-family: -apple-system,BlinkMacSystemFont,Arial,Helvetica,Hiragino Sans,"ヒラギノ角ゴ ProN W3",Hiragino Kaku Gothic ProN,"メイリオ",Meiryo,sans-serif;



/*====================
スマホを基本設計にする
 - 〜479px：スマートフォン縦
 - 480px〜599px：スマートフォン横
 - 600px〜959px：タブレット
 - 960px〜1279px：小型PC
 - 1280px〜：大型PC
====================*/

/* 〜479px：SP縦
------------------------------ */
// ここに基本CSSを書きます。
// モバイルファーストでは、モバイル最小値からPCの大きさに向けて、以降のCSSを書いていきます。

/* 〜479px：スマートフォン縦
------------------------------ */
@media screen and (max-width:479px) {
footer{
  font-size: 1px;
}

  .result_container li{
    position: relative;
    padding: 2em;
    margin:0 5px;
    line-height: 1.8em;
    font-size: 0.8em;

    text-align: left;
    letter-spacing:0.03em ;

    // border-bottom: 1px solid rgba(129,194,250, 0.5);

  }



  }


/* 480px〜599px：SP横
------------------------------ */
@media screen and (min-width:480px) and (max-width:599px) {
  footer{
    font-size: 1px;
  }
  // .result_container li{
  //   font-size: 0.4px;
  //   color: red;
  // }
  .result_container li{
    position: relative;
    padding: 2em;
    margin:0 20px;
    line-height: 1.8em;
    font-size: 1em;
    text-align: left;
    letter-spacing:0.03em ;
    // border-bottom: 1px solid rgba(129,194,250, 0.5);

  }
  }

  /* 600px〜959px：タブレット
  ------------------------------ */
  @media screen and (min-width:600px) and (max-width:959px) {
    // .result_container li{
    // font-size: 5px;
    // color: red;
  // }
  .result_container li{
    position: relative;
    padding: 2em;
    margin:0 20px;
    line-height: 1.8em;
    text-align: left;
    letter-spacing:0.03em ;
    font-size: 1em;

    // font-size: 13px;

    // border-bottom: 1px solid rgba(129,194,250, 0.5);

  }
  }



  /* 960px〜1279px：小型PC
  ------------------------------ */
  @media screen and (min-width:960px) and (max-width:1279px) {

  .result_container li{
    position: relative;
    padding: 2em;
    margin:0 20px;
    line-height: 1.8em;
    text-align: left;
    letter-spacing:0.05em ;
    font-size: 1.5em;
    // font-size: 13px;

    // border-bottom: 1px solid rgba(129,194,250, 0.5);

  }
  }

  /* 1280px〜：大型PC
  ------------------------------ */
  @media screen and (min-width:1280px) {

  .result_container li{
    position: relative;
    padding: 2em;
    margin:0 20px;
    line-height: 1.8em;
    text-align: left;
    letter-spacing:0.05em ;
    font-size: 1.5em;

    // border-bottom: 1px solid rgba(129,194,250, 0.5);

  }


  }

/* universal */

/*共通画面*/
$yellow: #f4d03f;
$gray: #595757;
$blue: #16a085;
$gradient-bg: linear-gradient(90deg, $blue, $yellow);
$transparent-gray: rgba(0, 0, 0, 0.3);
$transparent-white: rgba(255, 255, 255, 0.15);


html{
  margin: 0px;
  padding: 0px;
  border: 0;
  outline: 0;
  font-size: 10px;
  // font-family: "メイリオ","Meiryo","游明朝", YuMincho, "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック", "MS P Gothic","Osaka",Verdana,Arial, Helvetica, sans-serif;
  // font-family: -apple-system,Hiragino Kaku Gothic ProN,YuMincho,"游明朝", BlinkMacSystemFont,Arial,Helvetica,Hiragino Sans,"ヒラギノ角ゴ ProN W3","メイリオ",Meiryo,sans-serif;
  // font-size: 62.5%;
  font-feature-settings: "palt";
  -webkit-text-size-adjust: 100%;
}

//レスポンシブ時、狭くすると右側に余白ができるのを防止
.wrap_original {
  overflow: hidden;
  }

body {
  display: block;
// ほぼ日の設定例
  position: relative;
  right: 0;
  width: 100%;
  font-size: 1.6rem;
  // font-family: -apple-system,BlinkMacSystemFont,Arial,Helvetica,Hiragino Sans,"ヒラギノ角ゴ ProN W3",Hiragino Kaku Gothic ProN,"メイリオ",Meiryo,sans-serif;
  font-family:  Gothic,YuGothic,ヒラギノ角ゴ ProN,Hiragino Kaku Gothic ProN,メイリオ,Meiryo,sans-serif;
  font-feature-settings: "palt";
  letter-spacing: 0.025em;
  line-height: 1.25;
  color: #595757;
  text-align: center;
  // padding: 30px;
  // padding-top: 10%;
  background-color: #82d2dc;
  // background: $gradient-bg;
}


header{
  // display: flex;
	// justify-content: center;
	// align-items: center;

  // top: 0; /* 上部から配置の基準位置を決める */
left: 0; /* 左から配置の基準位置を決める */
width: 100%; /* ヘッダーの横幅を指定する */
height: 50px; /* ヘッダーの高さを指定する */
// padding: 0 10% 10% 10%; /* ヘッダーの余白を指定する(上下左右) */
// background-color: #31a9ee; /* ヘッダーの背景色を指定する */
color: #000000; /* フォントの色を指定する */

}

/**ヘッダーメニュー**/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu {

  ol {
    list-style: none;
    padding: 0;
    margin: 0;


    &:first-child {
      width: 100%;
      // max-width: 960px;
      // margin: 1rem auto 0 auto;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: center;
      box-shadow: 0px 3px 8px $transparent-gray;
      position: fixed; /* ヘッダーを固定する */
    }
  }

  &-item {

    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid $blue;
    position: relative;
    background-color: $yellow;
    transition: background 0.3s ease-in-out;

    &:nth-child(1) > a::before {
      content: "\e3af";
    }

    &:nth-child(2) > a::before {
      content: "\f02d";
    }

    &:nth-child(3) > a::before {
      content: "\f0c9";
    }

    &:nth-child(4) > a::before {
      content: "\f002";
    }

    &:nth-child(5) > a::before {
      content: "\f059";
    }

    &:nth-child(6) > a::before {
      content: "\f013";
    }

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) > a::before {
        font-family: "Font Awesome 5 Free";
        font-size: 1.2rem;
        display: block;
        margin-bottom: 1rem;
        font-weight: 900;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        color: $gray;


        @media (min-width: 768px) {
          font-size: 1.5rem;
        }
      }
    }

    // .sub-menu > a {
    //   color: red;
    // }

    &:not(:last-child) {
      border-right: 1px solid $transparent-white;
    }

    .sub-menu {
      position: absolute;
      top: 100%;
      width: 100%;
      transform-origin: top;
      transform: rotateX(-90deg);
      transition: transform 0.3s linear;
      background-color: $yellow;

      .menu-item {
        border-color: $transparent-white;

        a::before {
          content: "";
        }

        &:first-child {
          border: 0;
        }
      }
    }

    &:hover,
    &.active {
      // border-top: 2px solid $yellow;
      // background-color: $transparent-white;

      a::before {
        color: white;
      }
    }

    &:hover .sub-menu {
      transform: rotateX(0deg);
    }

    a {
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      height: 100%;
      width: 100%;
      padding: 1.5em 1em;

      @media (min-width: 768px) {
        font-size: 1.5rem;
      }
    }
  }
}



/*************************/
/*動きのある四角の背景*/


.context {
    width: 100%;
    position: absolute;
    top:50vh;

}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{

    // background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    // width: 100%;
    // height:100vh;


}

.circles{
    // position: static;
    position: relative;
    width: 100%;
    height: 100%;
    // overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
/**********************************************/










footer{
  // width: 100%; /* ヘッダーの横幅を指定する */
  margin-top: 5%;
  // display:flex;
  // position: fixed; /* ヘッダーを固定する */
  // top: 50%; /* 上部から配置の基準位置を決める */
// left: 0; /* 左から配置の基準位置を決める */
width: 100%; /* ヘッダーの横幅を指定する */
// height: 35px; /* ヘッダーの高さを指定する */
 padding: 0 10% 0 10%; /* ヘッダーの余白を指定する(上下左右) */
// background-color: #31a9ee; /* ヘッダーの背景色を指定する */
color: #000000; /* フォントの色を指定する */
}


footer p{
  text-align: center;

}


.header_list{

}

.header_logo {

  width: 50px;
  height: 48px;

}





// ul{
//   line-height: 1.5;
//   padding: 0.5em 0 0.5em 1.4em;
//   border-bottom: dashed 1px silver;
//   // list-style-type: none!important;
//   width: 70%;
// }
// ul:before{

//   font-family: "Font Awesome 6 Free";
//   content: "\f005";/*アイコン種類*/
//   // position: absolute;
//   left : 0.5em; /*左端からのアイコンまで*/
//   color: #ffb03f; /*アイコン色*/
// }

#contents_list{
  line-height: 1.5;
  padding: 0.5em 0 0.5em 1.4em;
  border-bottom: dashed 1px silver;
  // list-style-type: none!important;
  // width: 70%;
}

#contents_list:before{

  font-family: "Font Awesome 6 Free";
  content: "\f005";/*アイコン種類*/
  // position: absolute;
  left : 0.5em; /*左端からのアイコンまで*/
  color: #ffb03f; /*アイコン色*/

}

td{
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 10px;
	width: 400px;
	background: #eee;
	line-height: 1.0;
	white-space: nowrap;
}



nav {
  text-decoration: none;
  // color: white ;
  position: relative;
  right: 0;
  // width: 100%;
  font-size: 1.6rem;
  font-family: -apple-system,BlinkMacSystemFont,Arial,Helvetica,Hiragino Sans,"ヒラギノ角ゴ ProN W3",Hiragino Kaku Gothic ProN,"メイリオ",Meiryo,sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.25;
  color: #595757;
  text-align: center;
  background-color: wheat;
  // padding: 30px;
}

// textarea{
//   width: 100px;
// }

h1{
  padding-top: clamp(5%,5vw,10%);
  padding-bottom: clamp(5%,5vw,10%);
  font-size: clamp(20px,5vw,50px);
  text-align: center;
  border-radius: 3px;
  margin: 0;
    line-height: clamp(30px,5vw,70px);
    margin:5% 0 5% 0;
    display: inline-block;
    padding:1% 0 1% 0;

    // color:#219F94 ;

    // font-weight:bold ;

    // font-size:1.5em  !important;

    // line-height:2em ;

    // border-top:1px solid #219F94;

    // border-bottom:5px solid #1d8d84;
  }


  .text_align_left{
    text-align: left;
    padding-left: 10%;
    max-width: 1000px;
  }

li.diary_content_0{
  overflow-wrap: break-word;
}



// h2{
//   // padding-top: 20px;
//   font-size: clamp(15px,3vw,30px);
//   // text-align: center;

//     border-radius: 3px;
//     margin: 0;

//     padding: 1.5% 0 1% 0;

//     line-height: 200%;

// }

// h2:first-letter {
//   font-size: 1.5em;
//   color: #C1DEAE;
// }


p {

  font-size: clamp(7px,2vw,20px);
  line-height: 150%;
}

h2.quesion:first-letter {
  font-size: 1.5em;
  color: #442ab8;

}

h3{
  font-size: clamp(10px,3vw,20px);
  // padding-left: 11%;
}

span.answer:first-letter {
  font-size: 1.5em;
  color: #ee5316;

}


span.answer{
  display: block;
  // padding-top: 20px;
  font-size: clamp(15px,3vw,30px);
  // text-align: center;
  // background: linear-gradient(transparent 90%, #ffcccc 0%);
    // border-radius: 3px;
    margin: 0;
    padding: 0 0 1% 5%;

    line-height: 200%;

}

nobr{
  padding-top: 10%;
  font-weight: bold;
}
.black_color{
  color: #000;
}

.copyright{
  text-align: left;
}

.padding_bottom{
  padding-bottom: 10%;
}
.link{
  // vertical-align: middle;
// padding: 0 10px;
// font-size: clamp(10px,3vw,20px);

// display: flex;
// align-items: center;
//   background-color: rgb(193, 222, 174);
//   padding:5px 10px;
//   border-radius: 15px;
//   text-decoration: none;
}


// .link:hover{
//   color:skyblue;
//   background-color: rgb(242, 245, 200);
//   border:3px solid skyblue;
// }



// .header_list{
//   display: inline;
//   list-style-type: none;
//   padding-right: 30px;
//   color:black;
//   font-size: large;
// }


.link ol{
  display: table;
  margin: 0 auto;
  padding: 0 ;
  // width: 80%;
  text-align: center;
  }



  .link ol li{
  // display: table-cell;
  min-width: 50%;
  }
  .link li a{
  // display: block;
  width: 100%;
  text-decoration: none;
  color: #555;
  padding-bottom: 5px;
  }
  .link ol li.current{
  border-bottom: 3px solid #92D050;
  }
  // .link ol li:hover{
  // color: #E7DA66;
  // border-bottom: 3px solid #F0E475;
  // }



/*contents_all*/
.contents_index_container{
  display: flex;              /* フレックスボックスにする */
  background: #cad5f4;
  border: 1px solid #999;
  padding: 10px;
}

.contents_index_container>div{
  width: 50%;
  background: #FFF;
  border: 1px solid #999;
  padding: 10px;
}
.content_titles{
  // font-size: 40px;
  padding-left: 30px;
}


.content_article{
  font-size: 40px;
  padding-left: 30px;
}



//// home /////

.home_container{
  // background-color: rgb(242, 245, 200);
  // background-image: url("images/background.webp");

  // background-size: cover;


}



.container{
  padding: 10px;
}





/**//**//**//**//**//**//**//**//**//**//**//**//**/

// egogram_explanation.html.erb
//各エゴグラムの説明とメリット・デメリット

#font_display{
  display: inline-block;
  display: inline;
}


.egogram_explanation_color{
  font-size: clamp(10px,2vw,25px);
  line-height: 150%;
  // display: flex;
  justify-content: space-between;
}


.side_image{
  // overflow: auto;
  // right: 0;
  // position: fixed;
  // display: flex;
}

.egogram_explanation{
// margin-left: 30px;

}

//丸い画像:ページリンク
.egogram_explanation_page_link{

  padding-top: clamp(1%,10vw,10%);
  padding-bottom: clamp(1%,10vw,10%);
  display: flex;
  flex-direction: column;
  mix-blend-mode: multiply;
  width: clamp(30%,5vw,100%);;
  justify-content: center;
  align-items: center;
  display: flex;
}




.egogram_explanation_page_link:hover{
  opacity: 0.5 ;
  transform: scale(0.9);

}

// .egogram_explanation_page_link{
//     transform-origin: center top;
//   }






// 丸い画像:ページリンクの画像固定
.egogram_explanation_page_link_container{
  // margin-top: 35px;
  // position: sticky;
  // position: relative;
  padding-left: 3px;
  position: fixed;
  // _position:absolute;
  top: clamp(20%,3vw,10%);

  overflow: auto;
  left: 0;
  // margin-top: 30px;


  // display:flex;

}
//大きい画像
.ego_explanation{
  width: 100%;
  padding-left: 10%;
  padding-right: 5%;

  // margin-left: auto;
  // margin-right: auto;
}


// .egogram_images > *{
//   min-width: 8%;
//   background: #fff;
//   font-size: 64px;
//   text-align: center;
// }

/**//**//**//**//**//**//**//**//**//**//**//**//**/

/////////////////egograms_result////////////////

// ////試しているだけ////
// h2 {
//   position: relative;
//   height: 75px;
//   margin-right: 100px;
//   padding: 1.5rem 2rem 0 2rem;
//   word-break: break-all;
//   color: #fff;
//   background: #000;
// }

// h2:after {
//   position: absolute;
//   top: 0;
//   right: -55px;
//   width: 0;
//   height: 0;
//   content: '';
//   border-width: 75px 55px 0 0;
//   border-style: solid;
//   border-color: #000 transparent transparent transparent;
// }

// h2 span {
//   font-size: 40px;
//   font-size: 4rem;
//   position: absolute;
//   top: 0;
//   right: -100px;
//   display: block;
//   padding-top: 3px;
//   padding-left: 16px;
//   color: #000;
// }

.graph{
  // display: block;
  width: 50%;
  height: 100%;

  margin-left: auto;
  margin-right: auto;
}

// egograms_result_buckground
// .bg_pattern {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: #ffe9a7;
//   opacity: 0.4;
//   z-index: -1;
// }
// .Cross {
//   background-image: linear-gradient(45deg, #ffc107 25%, transparent 25%), linear-gradient(315deg, #ffc107 25%, #ffe9a7 25%);
//   background-position: 10px 0, 20px 0, 0 0, 0 0;
//   background-size: 20px 20px;
//   background-repeat: repeat;
// }


/**//**//**//**//**//**//**//**//**//**//**//**//**/


/////egogramresultの文字全体/////

// .result_container{
//   padding: 50px 50px;

//   text-align: left;
//   // font-family: 游明朝,"Yu Mincho";
// }


/**//**//**//**//**//**//**//**//**//**//**//**//**/



// 短所のタイトル
.sample_h_23{
  font-size: 1.5em;/* フォントサイズ */
  font-weight: bold;/* フォント太さ */
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2.5em;
  margin-bottom: 2em;
  position: relative;
  background-color: #f388b8;/* 背景色 */
  border-radius: 15px;/* 角丸 */
  color: #ffffff;/* フォント色 */
  }

  .sample_h_23:before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: "\f075";
    font-weight: 900;
    font-size: 1em;
    left : 1em;
  }

  @keyframes my-animation{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
  }

/**//**//**//**//**//**//**//**//**//**//**//**//**/



.heading07 {
	position: relative;
	padding-top: 50px;
	padding-left: 30px;
	font-size: 26px;
}

.heading07 span {
	position: relative;
	z-index: 2;
}

.heading07::before {
	content: attr(data-en);
	position: absolute;
	transform: rotate(-5deg);
	top: -20px;
	left: 0;
	color: rgba(224,66,114,0.6);
	font-size: 80px;
	font-weight: 400;
	font-family: luxus-brut, cursive;
	font-style: italic;
}

// h1.title{
//   color: red;/*文字色*/
//   border: dashed 2px #668ad8;/*破線 太さ 色*/
//   background: #f6e8e8; /*背景色*/
//   padding: 0.5em 0.5em 0.5em 2em;
// }


.diaries_container{
  // text-align: left;

}



// 一部共通CSS //


.result_container h1{
  // line-height: 2em;
  // text-align: left;
  // padding-left: 1em;
}

.result_strength_title:first-letter {
  // display: block;
  font-size: 1.5em;
  color: #167bee;
}


.result_weakness_title:first-letter {

  font-size: 1.5em;
  color: #ee4816;
}

.result_people_around_you_title:first-letter {

  font-size: 1.5em;
  color: #388b35;
}



.result_container{
padding-bottom: 20px;

}

// ここでresulutの文章になっている箇所を操作 //
// .result_container li{
//   position: relative;
//   padding: 3em 3em 1em 3em;
//   margin:0 20px;
//   line-height: 3em;
//   // font-size: 13px;
//
//   // border-bottom: 1px solid rgba(129,194,250, 0.5);

// }



/**//**//**//**//**//**//**//**//**//**//**//**//**/


/////// egogramresult  特定のCSSを操作 //////


.result_character_l{
  // color: red;/*文字色*/
  border: dashed 2px #d8cd66;/*破線 太さ 色*/
  background: #f6f3e8; /*背景色*/
  border-radius: 9px;
  // padding: 0.5em 0.5em 0.5em 2em;
}

.result_strength_l{
  // color: red;/*文字色*/
  border: dashed 2px #668ad8;/*破線 太さ 色*/
  background: #e5e5ff; /*背景色*/
  border-radius: 9px;
  // padding: 0.5em 0.5em 0.5em 2em;
}




.result_weakness_title{
  // padding: 0 110px 0 110px;

}

.result_weakness_l{
  // color: #668ad8;
  border: dashed 2px #d86666;/*二重線 太さ 色*/
  background: #fff1f1;
  border-radius: 9px;
  // padding: 0.5em 0.5em 0.5em 2em;

}






.result_people_around_you_l{
  background: #f1fff2;
  box-shadow: 0px 0px 0px 10px #f3fff1;/*線の外側*/
  border: dashed 2px #66d87f;/*破線*/
  border-radius: 9px;
  // margin-left: 10px;/*はみ出ないように調整*/
  // margin-right: 10px;/*はみ出ないように調整*/
  // padding: 0.5em 0.5em 0.5em 2em;
}


/**//**//**//**//**//**//**//**//**//**//**//**//**/


















/*goals*/
/*requests*/
/*test*/
.egogram_question{
  display: flex;
  flex-direction: column;

}

.center_block{
  // display:inline-block;
  // background:#ffff00;
  // width:12em;
  // margin:0 auto;
  // padding-left: 40%;
  padding: 10% 0 0 20px;
}


/**/







img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

section {
  overflow: auto;
}

// textarea {
//   resize: vertical;
// }


.center {
  text-align: center;
}




// カレンダーの設定(https://qiita.com/sagittarius30008/items/9ba31db037d3cef37a7b)
.simple-calendar {
  .day {
    background: #fff9ee;
  }
  .wday-0 {
    background: #ffeaea;
    color: #ff505c;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    background: #d4ebff;
    color: #5984dc;
  }
  .today {
    background: #FFA0A0;
  }
  .past {}
  .future {}
  .start-date {}
  .prev-month {}
  .next-month {}
  .current-month {}
  .has-events {background: #98fb98;
  }
}
/* ホバーした際の背景色 tableタグにcalender_tableクラスを追記しています*/
.calendar-table tr td:hover {
  background-color: #FFFF8c;
}



// 診断テストページ


.test_wrapper{
  max-width: 800px;
  margin: auto;
}
.test_question_box{
  // max-width: 800px;
  padding: 10px;
  text-align: left;
  clear: right;
}

.test_question_box:nth-child(odd){
  background: rgb(188, 219, 163);
}

.test_question_box:nth-child(even){
  background: rgb(192, 236, 188);
}

.test_question_title{
  float: right;
  display: flex;
  // display:inline-block;
  flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
// padding-right: 150px;
// display: flex;
// margin-left: auto
// margin-left: 200px;

  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-around;
  padding-right: 50px;
}
.test_question_list1{
  // width:0px;
  // padding-right: 100px;
  // margin-right: 100px;
  width:100px;
}



.test_question_list{
  width:100px;

}



.test_question_answer{

float: right;
// padding: 2.5% 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
// padding-right: 100px;
// position: absolute;

// padding-top: 30px;

// justify-content:space-around;
}

//ユーザー編集ページ//
#btn-padding{
  margin-top: 10px;
}


.field{
  margin-top: 20px;
}














/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
