<footer class="footer">
  <nav>
    <li>&copy;Copyright PF. All rights reserved.</li>
    <li><%= link_to "ご利用規約", '/contents/agreement' %></li>
    <li><%= link_to "お問合せ",   '/contacts/new' %></li>
  </nav>
</footer>