<footer class="footer">
  <nav>
  <div class="link">
    <ol>
<div class="footer_link">

    &copy;Copyright PF. All rights reserved.

</div>
<div class="link_right">
<li>
    <%= link_to "ご利用規約", '/contents/agreement' %>
    </li>

    <li>
    <%= link_to "お問合せ",   '/contacts/new' %>
    </li>
    </div>
    </ol>
</div>
  </nav>
</footer>