<footer>
  <p style="display:inline"><%= link_to "ご利用規約", '/contents/agreement' %></p>
  <p style="display:inline"><%= link_to "お問合せ",   '/contacts/new' %></p>
  <p>          &copy;Copyright EgoYourSelf. All rights reserved. </p>
</footer>